n8n_workflows/pEhNgLYwJhUssWdw.json
{"createdAt":"2025-10-03T08:33:47.062Z","updatedAt":"2025-10-17T07:25:11.656Z","id":"pEhNgLYwJhUssWdw","name":"workflow","active":false,"isArchived":false,"nodes":[{"parameters":{"authentication":"serviceAccount","resource":"fileFolder","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"https://drive.google.com/drive/folders/1yXxeciW3cDnXBj2WDnawqhm0HDkoG9J5","mode":"url"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[80,-144],"id":"b5226639-8c94-4a7e-b28d-dd802fec66e4","name":"Search files and folders","credentials":{"googleApi":{"id":"txxM5alAA0IFgpDO","name":"Google Service Account account"}}},{"parameters":{"authentication":"serviceAccount","operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[288,-144],"id":"b580bcfb-eb3c-423f-b6d0-91f91305ae2b","name":"Download file","credentials":{"googleApi":{"id":"txxM5alAA0IFgpDO","name":"Google Service Account account"}}},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"sampledata","mode":"list","cachedResultName":"sampledata"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.3,"position":[496,-144],"id":"686b14db-f82a-4220-8e51-12e6c7d1c6d7","name":"Pinecone Vector Store","credentials":{"pineconeApi":{"id":"ZzDAyYO0bKfD41KP","name":"PineconeApi account"}}},{"parameters":{"options":{"dimensions":512}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[416,32],"id":"c8071229-c9c8-4bd3-98d6-c46df6af1a11","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"aQslK0fvvPhXut51","name":"OpenAi account"}}},{"parameters":{"dataType":"binary","textSplittingMode":"custom","options":{"metadata":{"metadataValues":[{"name":"file-name","value":"={{ $json.name }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[464,144],"id":"82d518cd-af82-463c-a4d1-aa143cf8f485","name":"Default Data Loader"},{"parameters":{"chunkOverlap":200,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[464,304],"id":"181e5551-ee47-4a7a-be05-ac7924890716","name":"Recursive Character Text Splitter"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[-80,560],"id":"c0deac7b-778b-453f-9ac8-7e061fb82aa7","name":"When chat message received","webhookId":"cfa2a23d-297b-4f5c-bb0a-077c61399434"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[192,560],"id":"db18cdd6-e0e4-49da-ab5e-9e4d3eb686f1","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[0,768],"id":"dab85ebc-93d8-4af6-92dc-dddc2dc9b031","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"aQslK0fvvPhXut51","name":"OpenAi account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[160,768],"id":"f32146aa-7fec-4e52-bf29-5fb59ff006b1","name":"Simple Memory"},{"parameters":{"description":"Операция Оверлорд, описание и детали операции"},"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1.1,"position":[352,768],"id":"db8040b1-2ac7-4b59-b35f-b310c4f81213","name":"prompting_info"},{"parameters":{"pineconeIndex":{"__rl":true,"value":"sampledata","mode":"list","cachedResultName":"sampledata"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.3,"position":[128,944],"id":"0947801f-a878-475e-b424-2a435178f134","name":"Pinecone Vector Store1","credentials":{"pineconeApi":{"id":"ZzDAyYO0bKfD41KP","name":"PineconeApi account"}}},{"parameters":{"options":{"dimensions":3072}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[128,1104],"id":"dc7da5bd-6f05-4535-9833-24e078941b2c","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"aQslK0fvvPhXut51","name":"OpenAi account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[400,1040],"id":"e1407949-6c34-42f0-8616-3575ef8592b5","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"aQslK0fvvPhXut51","name":"OpenAi account"}}},{"parameters":{"url":"=http://n8n:5678/api/v1/executions/60","sendQuery":true,"queryParameters":{"parameters":[{"name":"includeData","value":"true"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-N8N-API-KEY","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI5NDY1NGJhZC05NWUzLTRjMzYtYjBlMi00NTJjNjM3ZTI2YjAiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzYwNTEyNDk3fQ.6jmi9ACvrTP4byq38qfAnk5DpZqrS5Vu_nHM33hFnIg"}]},"sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[560,432],"id":"cffe7ba8-a358-449f-8030-2c1073d92c5e","name":"HTTP Request"},{"parameters":{"mode":"chooseBranch"},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1024,576],"id":"74271b29-8cf0-4c24-bb3c-a942f7f3bb53","name":"Merge"},{"parameters":{"jsCode":"const exec = $json.data.resultData.runData;\n\nconst errors = Object.entries(exec)\n  .flatMap(([nodeName, runs]) =>\n    runs\n      .filter(run => run.executionStatus === 'error')\n      .map(run => ({\n        node: nodeName,\n        message: run.error?.message || 'Unknown error',\n        description: run.error?.description || '',\n        name: run.error?.name || '',\n        time: run.error?.timestamp || '',\n      }))\n  );\n\nreturn errors.length ? errors.map(e => ({ json: e })) : [{ json: { info: 'no errors' } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[784,432],"id":"c002d731-8e08-44b6-b0e4-7d56bf4b7a7c","name":"Code in JavaScript"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-480,-624],"id":"7049d55f-8fad-4a1b-af93-eef1cb65c0bb","name":"When clicking ‘Execute workflow’"},{"parameters":{"fieldToSplitOut":"users","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-272,-624],"id":"cbea4e53-dacb-40d3-b617-b7b6e02618ca","name":"Split Out"},{"parameters":{"promptType":"define","text":"=If the email is empty, generate sample email\nName: {{ $('Loop Over Items').item.json.name}}\nEmail: {{ $('Loop Over Items').item.json.email}}\n\nrespond with existing email if it exists or a sample email if does not exist","hasOutputParser":true,"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[272,-624],"id":"43ae5b39-ce8c-4a6e-aadc-93ebc1333687","name":"Basic LLM Chain"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[96,-400],"id":"b13fcac2-97ad-4e06-8dd2-0bba64716ce5","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"aQslK0fvvPhXut51","name":"OpenAi account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-64,-640],"id":"49adf0f6-43b3-472d-aca1-bd86e931440a","name":"Loop Over Items","onError":"continueErrorOutput"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[624,-624],"id":"e17621e5-c1a5-4a72-8b34-0391d5092948","name":"Wait","webhookId":"7946a9c5-679d-4d9f-b7b3-deb8d3b29a72"},{"parameters":{"jsonSchemaExample":"{\n\t\"email\": \"email\",\n\t\"name\": \"name\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[416,-400],"id":"2b73fcde-4104-4944-901a-57d028ddffa5","name":"Structured Output Parser"}],"connections":{"Search files and folders":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Pinecone Vector Store","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Pinecone Vector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"When chat message received":{"main":[[]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"prompting_info":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Pinecone Vector Store1":{"ai_vectorStore":[[{"node":"prompting_info","type":"ai_vectorStore","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Pinecone Vector Store1","type":"ai_embedding","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"prompting_info","type":"ai_languageModel","index":0}]]},"HTTP Request":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"HTTP Request","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Merge","type":"main","index":1}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Basic LLM Chain","type":"ai_outputParser","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"HewILtkgmlrogAF4"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"When clicking ‘Execute workflow’":[{"json":{"users":[{"name":"John","email":""},{"name":"Jane","email":"jane@gmail.com"}]}}]},"versionId":"438591bf-3669-4126-83fd-cb4b05f400c3","triggerCount":1,"tags":[],"shared":[{"createdAt":"2025-10-03T08:33:47.062Z","updatedAt":"2025-10-03T08:33:47.062Z","role":"workflow:owner","workflowId":"pEhNgLYwJhUssWdw","projectId":"r5g3tWGY0FV9ZFTk","project":{"createdAt":"2025-10-03T08:28:06.069Z","updatedAt":"2025-10-03T08:31:29.025Z","id":"r5g3tWGY0FV9ZFTk","name":"Stepan Kl <stephen.kollo.workspace@gmail.com>","type":"personal","icon":null,"description":null}}]}